node_modules/
www/
android/.gradle/
android/**/build/
android/local.properties
android/app/src/main/assets/public/
*.keystore
*.jks
test-results/

android/.idea/
.DS_Store

__pycache__/
*.pyc
*.db
.env
.venv/
.pytest_cache/

node_modules
